@import "../../globalStyle/globalStyle.scss";

.info-container {
  display: flex;

  &::-webkit-scrollbar {
    display: none;
  }

  .info {
    margin: 0 11px 88px 11px;
    width: 140px;
    height: 200px;
    text-align: center;
    color: $second-color;
    transition: $transition;
    position: relative;

    img {
      width: inherit;
      height: inherit;
      margin-bottom: 9px;
      position: relative;
      z-index: 2;
    }

    p {
      margin-bottom: 0;
    }
  }

  .content {
    .star {
      position: absolute;
      top: 17px;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 3;

      span {
        position: absolute;
        font-size: 13px;
        font-weight: 700;
        color: black;
      }

      .real {
        color: #ffd400;
        font-size: 50px;
      }
    }
  }
}
