@import "../../globalStyle/globalStyle.scss";

.container {
  position: relative;
  width: 100%;
  // height: 620vh;

  &::after {
    content: "";
    position: absolute;
    top: -94px;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 104%;
    z-index: 10000;
  }

  &.hide-after::after {
    display: none;
  }

  .spinner {
    position: fixed;
    left: 52%;
    top: 50%;
    z-index: 10001;

    @include tablet {
      left: 35%;
    }
    @include mobile {
      left: 44%;
    }
  }
}
