@import "../../globalStyle/globalStyle.scss";

%general {
  height: 27px;
  width: 27px;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
}
@mixin shocial($color) {
  @extend %general;
  background-color: $color;
}
%flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.follow {
  text-align: center;
  margin: 5px;
  width: 298px;
  padding: 10px 0;
  background: #fff;
  border-radius: $radius;
  font-weight: bold;

  h1 {
    font-size: 17px;
    font-weight: bold;
  }

  .content {
    display: flex;
    justify-content: center;

    .innerContent {
      width: 50%;

      .fol-fa {
        margin-bottom: 8px;
        color: $second-color;
        @extend %flex;

        .fol-facebook {
          @include shocial($second-color);
        }
      }

      .fol-twi {
        color: $second-color;
        @extend %flex;

        .fol-twitter {
          @include shocial($twitter-color);
          margin-left: 5px;
        }
      }
    }
  }

  &.full {
    width: 100%;
    margin: 0;
    margin-top: 5px;

    h1 {
      margin-top: 10px;
    }

    .innerContent {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 15px;
      gap: 18px;

      @include Extramobile {
        flex-wrap: wrap;
      }

      .fol-fa {
        margin-bottom: 0;
      }
    }
  }
}
