@import "../../globalStyle/globalStyle.scss";

%List {
  display: flex;
  flex-direction: wrap;
  justify-content: space-between;
  height: 313px;
}

%inner {
  height: 43px;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding-right: 9px;
}

.spinner {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 101;
}
.spinner::after {
  content: "";
  width: 52%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 29%;
  z-index: -100;
  @include desktop {
    width: 47%;
    left: 33%;
  }
  @include tablet {
    width: 73%;
    left: 0;
  }
  @include tablet {
    width: 100%;
    left: 0;
  }
}

.container {
  .content-part {
    margin: 0 11px;

    .innerContent {
      border-radius: $radius;
      display: flex;
      justify-content: space-between;

      .booster {
        width: 300px;

        .image {
          height: 430px;

          @include desktop {
            height: 326px;
          }

          img {
            width: 100%;
            height: 100%;

            @include desktop {
              height: 80%;
            }
          }
        }

        button {
          border: none;
          width: 100%;
          height: 37px;
          border-radius: $radius;
          margin-top: 10px;
          background-color: $subs-color;
          color: #fff;

          @include desktop {
            height: 61px;
            margin-top: -30px;
          }

          .icon {
            margin-left: 5px;
            font-size: 16px;
          }
        }
      }

      .info {
        width: 502px;

        h1 {
          text-align: center;
          font-size: 30px;
          background-color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 2px;
        }

        .content {
          table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            font-family: Arial, sans-serif;
          }

          th,
          td {
            border: 1px solid #ccc;
            padding: 15px 15px;
            text-align: left;
          }

          tr:hover {
            background-color: #f9f9f9;
            transition: 0.2s;
          }
        }
      }
    }

    .notes {
      height: 83px;
      border: 1px solid $second-color;
      background-color: #e9f2ff;
      border-radius: $radius;
      display: flex;
      align-items: center;
      margin-top: 10px;

      p {
        padding-top: 10px;
        padding-right: 11px;
      }
    }

    .movie-rate {
      background-color: #fff;
      margin-top: 10px;
      border-radius: $radius;

      h1 {
        font-size: 16px;
        height: 47px;
        background-color: $head-color;
        display: flex;
        align-items: center;
        padding-right: 11px;
      }

      .inner-rate {
        display: flex;
        justify-content: center;
        padding-right: 11px;

        .container-rate {
          height: 100px;
          width: 430px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .contain {
            display: flex;
            align-items: center;
            flex: 2;

            .circle {
              border-radius: 50%;
              width: 50px;
              height: 50px;
              background-color: $second-color;
              display: flex;
              justify-content: center;
              align-items: center;
              position: relative;
              overflow: hidden;

              span {
                position: absolute;
                font-size: 12px;
                font-weight: bold;
                z-index: 5;
              }

              .inn {
                border-radius: 50%;
                width: 40px;
                height: 40px;
                background-color: #fff;
                position: absolute;
                z-index: 2;
              }

              .fill {
                width: 50px;
                height: 50px;
                background-color: #c7c8ca;
                position: absolute;
              }
            }

            p {
              margin-bottom: 0;
              margin-right: 15px;
            }
          }

          .like {
            display: flex;
            justify-content: space-between;
            flex: 1;

            .lfg {
              @extend %globalFlex;
              width: 60px;
              height: 60px;
              background-color: orange;
              border-radius: 50%;
            }
          }
        }
      }
    }

    .story {
      background-color: #fff;
      margin-top: 10px;
      border-radius: $radius;
      padding-right: 11px;

      h1 {
        font-size: 20px;
        padding-bottom: 10px;
        padding-top: 10px;
      }

      .inner-story {
        h2 {
          font-size: 16px;
        }
      }
    }
  }
}
