@import "../../globalStyle/globalStyle.scss";

.container {
  position: absolute;
  top: 70px;
  right: 180px;

  & {
    @include large {
      right: 105px;
    }
    @include desktop {
      right: 243px;
    }
    @include tablet {
      right: 223px;
      left: 0;
    }
    @include mobile {
      right: 0;
    }
  }

  .title {
    font-size: 27px;
    text-align: center;
    font-weight: 700;
    padding: 25px 0;

    & {
      @include desktop {
        font-size: 23px;
      }
      @include tablet {
        font-size: 20px;
      }
    }
  }
}
