@import "../../globalStyle/globalStyle.scss";

%innerContain {
  display: flex;
  position: relative;

  .lo {
    margin-left: 10px;
  }
}

.container {
  padding: 10px 0px;
  background-color: #fff;
  // height: 620vh;

  &::after {
    content: "";
    position: absolute;
    top: -95px;
    left: 0;
    width: 97%;
    height: 104%;
    background-color: #fff;
    margin: 0 8px;
    z-index: 10000;
  }

  &.hide-after::after {
    display: none;
  }

  .head {
    display: flex;
    justify-content: center;

    .content {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 0 20px;
      cursor: pointer;
      gap: 15px;

      .inner {
        @extend %innerContain;
        color: $main-color;

        &::before {
          content: "";
          width: 100%;
          height: 2px;
          position: absolute;
          left: 0;
          bottom: -18px;
          background-color: $main-color;

          @include desktop {
            bottom: -7px;
          }
        }
      }

      .unInner {
        @extend %innerContain;
      }
    }
  }
}

.line {
  @include desktop {
    margin-top: 5px;
  }
}

.spinnerContainer {
  position: fixed;
  top: 50%;
  left: 55%;
  transform: translate(-50%, 50%);
  z-index: 10001;

  @include tablet() {
    left: 38%;
  }
  @include mobile() {
    left: 50%;
  }
}
