@import "../../globalStyle/globalStyle.scss";

.spinnerContainer {
  display: flex;
  justify-content: center;
  opacity: 0.6;
  margin-bottom: 10px;
}

.more {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  button {
    width: 500px;
    height: 40px;
    color: #fff;
    background-color: $second-color;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: $radius;
  }
}
