@import "../../globalStyle/globalStyle.scss";

.choseList {
  position: fixed;
  width: 168px;
  margin-top: 70px;
  border-radius: $radius;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: calc(100% - (120px));

  & {
    @include mobile {
      display: none;
    }
  }
  ul {
    background-color: #fff;
    list-style: none;
  }
  
  &.mobileChoseList {
    position: relative;
    overflow-y: scroll;
    top: -30px;
    width: 243px;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 350px;
    display: block;

    ul {
      background-color: transparent;
    }
  }
}
