@import "../../globalStyle/globalStyle.scss";

@mixin icon($color) {
  width: 40px;
  height: 40px;
  background-color: $color;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1px;
}

.social {
  color: #fff;
  cursor: pointer;

  &.mobileChoseList {
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 15px;
    padding: 0 10px;
  }

  .fa-icon {
    @include icon($second-color);
  }
  .tw-icon {
    @include icon($twitter-color);
  }
}
